{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Moody Kittens | Chris Felt</title>
    <link rel="shortcut icon" href="{% static 'images/moody-logo.png' %}" type="image/x-icon" />
    <link
      href="https://fonts.googleapis.com/css?family=Catamaran&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>

    <body>

        {% block content %}
        {% endblock content %}


    </body>
</html>
