{% extends '_base.html' %}
{% load static %}

{% block content %}
    <header class="bg-dark d-flex align-items-center p-1 space-between">
      <img src="{% static 'images/moody-logo.png' %}" height="60" alt="Moody Kittens" />
      {% if user.is_authenticated %}
        <div>
            <a class="user" href="{% url 'account_logout' %}">Logout</a>
        </div>
      {% else %}
        <div class="user">
            <a class="user" href="{% url 'account_signup' %}">Sign Up</a> |
            <a class="user" href="{% url 'account_login' %}">Login</a>
        </div>
      {% endif %}
    </header>
    <main class="container">
      <div id="welcome" class="d-flex justify-content-center">
        <div class="card p-2 text-center w-50">
          <img src="{% static 'images/moody-logo.png' %}" height="250" alt="Moody Kittens" />
          <div class="mt-2">
            <b class="text-center">Hello Student</b>
            <p>
              This is your starter template only feel free to modify the look as
              you tackle the challenges that we have laid out.
            </p>
            <small>Good Luck and Have Fun!</small>
            <br />
            <button onclick="getStarted()">Get Started</button>
            <!-- <button class="btn-cancel" onclick="removeAllKittens()">
              Remove All Kittens (<span id="sum-kittens"></span>)
            </button> -->
          </div>
        </div>
      </div>
      <div class="p-2">
        <div id="kittens" class="d-flex align-items-center flex-wrap"></div>
      </div>
    </main>
    <footer
      class="card bg-dark text-light p-2 d-flex align-items-center justify-content-center"
    >
      <small
        >Created with <span style="color: var(--primary)">&hearts;</span> by
        Chris</small
      >
    </footer>
{% endblock content %}